body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: rgb(149, 143, 143);
}

.room {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: auto;
    border: 4px solid black;
    background-color: rgb(212, 209, 209);
    overflow: hidden;


}

.ball {
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(63, 136, 149);
    /* animation: fly-ball-x 1s cubic-bezier(.17, .67, .6, 1), fly-ball-y 1s linear; */
}

.column {
    position: absolute;
    bottom: 0;
    left: 15%;
    /* width: 50px;
    height: 20%; */
    border-bottom: calc(0.2 * 80vh) green solid;
    border-left: 25px transparent solid;
    border-right: 25px transparent solid;

}


.spring {
    position: absolute;
    left: -3%;
    bottom: calc(20% + 15px);
    width: 17%;
    height: 20px;
    background-color: rgb(165, 120, 120);
    animation: spring .5s infinite alternate paused;
    /* animation: release-spring .2s infinite linear; */
}

.panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40vw;
}


@media (max-width: 800px) {
    .panel {
        width: auto;
        left: 20px
    }
}

.btn-action {
    display: block;
    width: 100%;
    border: none;
    background-color: rgb(43, 36, 83);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: arial;
    line-height: 200%;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s;

}


.btn-action:hover {
    background-color: rgb(82, 66, 173);
    ;
}


.bar {
    height: 30px;
    box-shadow: 0 0 3px 0 grey;
    margin-top: 20px;

}

.fill {
    width: 5%;
    height: 30px;
    background-color: rgba(0, 0, 184, 0.739);

    animation-name: fill;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-play-state: paused;

}


:root {
    --spring-left: 0;
    --power-x: 0;
}

@keyframes fill {
    100% {
        width: 100%;
    }
}

@keyframes spring {
    100% {
        left: -14%;
    }
}

@keyframes release-spring {
    0% {
        left: var(--spring-left, -14%);
    }

    100% {
        left: 0%;
    }
}

@keyframes fly-ball-x {
    100% {
        left: var(--power-x, 1000px);

    }

}



@keyframes fly-ball-y {
    100% {

        bottom: 0;

    }

}